﻿body h1{
    background-color: red;

}


body .top-bar{
    background-color: cadetblue;
}
body .top-bar .main-bar{
    width: 88%;
    background-color:aqua;
    margin:auto;
    display: flex;
    flex-wrap:nowrap;
}

    body .top-bar .main-bar .contact-left {
        flex-grow: 4;
        width: 50%;
        background-color:blanchedalmond;
        display:flex;
        gap: 20px;
    }
    body .top-bar .main-bar .login-right {
        width: 70%;
        flex-grow: 2;
        display: flex;
        background-color: greenyellow;
        justify-content: space-around;
    }